{% extends 'user/userdetails.html' %}
{% block userblock %}
{% load staticfiles %}
<style>

   #customers{
       font-family:Abel;
       border-collapse:collapse;
       width:40%;
       font-size:25px;
       color:black;
       background-color:pink;
               margin-left: 395px;
        margin-top: 68px;
    position: absolute;

       }
       #customers td, #customers th{
       border:1px solid #ddd;
       padding:8px;
       }



       #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: black  ;
    color: white;
}
input {
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    padding: 0px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
    border-radius:10px;
    font-family:Abel;
    font-size:20px;
        text-align: center;
}
.imga{
background: url("{% static 'admin.jpeg' %}");
background-size:100% 100%;
height:-webkit-fill-available;
width:100%;
overflow: auto;

}
.imgs{
background: url("{% static 'update.png' %}");
width:100px:
height:200px;


}
input[type="submit" i],
{


}
.log{
        background-color: pink;
        border: none;
        color: black;
        width:120px;
        height:50px;
        margin-left: 393px;
        margin-top: 383px;
        position: absolute;
        }
</style>
<body>
<form method="POST">
    {% csrf_token %}
    <div class="space">
         <div class="imga">
    <table id="customers">
        <tr>
            <td>Name:</td>
            <td><input type="text" name="name" value="{{ form.firstname }}"></td>
        </tr>
        <tr>
            <td>Email Id:</td>
            <td><input type="text" name="email" value="{{ form.email }}"></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" name="password" value="{{ form.password }}"></td>
        </tr>
        <tr>
            <td>Mobile Number:</td>
            <td><input type="text" name="mobilenumber" value="{{ form.mobilenumber }}"></td>
        </tr>
        <tr>
            <td>Dob</td>
            <td><input type="text" name="dob" value="{{ form.dob}}"></td>
        </tr>
        <tr>
            <td>Gender</td>
            <td><input type="text" name="gender" value="{{ form.gender }}"></td>
        </tr>
        <tr>
        <td>Address</td>
            <td><input type="text" name="address" value="{{ form.address }}"></td>
        </tr>

            <input type="submit" class="log" values="" >

    </table>
         </div>
    </div>
</form>


</body>
{% endblock %}