{% extends 'user/userdetails.html' %}
{% block userblock %}
{% load static %}
<style>

    .viewdetails{
    position: relative;
       top: 50px;

    margin-left:-17px;
    padding:13px;
    width:1268px;
    height: 600px;
    overflow:auto;
        text-align: center;
}

.viewdetails table tr th{
    color:white;
}
.viewdetails table tr th{
background:#371C1C;
padding:10px;
}
.viewdetails table tr td{
background-color:pink;
padding:10px;
}
.viewdetails table tr:hover td{
background:rgba(237, 236, 234);
}
</style>

<form method="POST" enctype="multipart/form-data">
   {% csrf_token %}
<div class="viewdetails" >
<table id="myTable" style="font-size:100%; color:red" align="right">
    <tr>
<th>Product Name</th>
<th>Product Id</th>
<th>Quality</th>
<th>uploadimage</th>
<th>gram</th>
<th>Description</th>
<th>AMOUNT</th>
<th>Quantity</th>
<th>Day</th>
<th>month</th>
<th>year</th>
<th>Order</th>
<th>All Details</th>

    </tr>

    <tr>
        <td>{{v.Productname}}</td>
        <td>{{v.Productid}}</td>
        <td>{{v.Quality}}</td>
        <td><img src="{{v.uploadimage.url}}" style="width:200px; height:100px; "></td>
        <td>{{v.gram}}</td>
        <td>{{v.Description}}</td>
        <td>{{v.amount}}</td>
        <td><input type="text" size="4" name="Quality" class="Quality"></td>
        <td><input type="text" size="4" name="day" class="day"></td>
        <td><input type="text" size="4" name="month" class="month"></td>
        <td><input type="text" size="4" name="year" class="year"></td>
        <td><input type="submit" name="" class="log"></td>
        <td><a href="{% url 'addtocard' v.id %}">Order your Product details </a> </td>
    </tr>
</table> </div>
</form>
{% endblock %}